.mainPageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainPageImg {
    margin: 30px 0 30px 0;
}

.newEpisodesSection {
    --content-wrapper-padding-inline: 2.5rem;
    --content-wrapper-padding-inline: 1.25rem;
    --content-width: 65.625rem;
    max-width: calc(var(--content-width) + var(--content-wrapper-padding-inline)*2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-right: 2.5rem;
    margin-top: 60px;
}

.dividerOrange{
    background-image: linear-gradient(to left,#fab818,#ef4323);
    height: 4px;
    width: 100%;
    margin: 10px 0 20px 0;
}

.dividerGray{
    background-image: linear-gradient(to left,#213944,#2abdbb);
    height: 2px;
    width: 100%;
    margin: 0 0 10px 0;
}

.sectionHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.moreEpisodesTitle{
    font-family: 'Crunchyroll';
    color: #fff;
    font-weight: 500;
    font-size: 1.75rem;
}

.playButton{
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(30deg) brightness(104%) contrast(108%);
    padding-right: 10px;
}

.calendarTitle {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    text-align: end;
    color: #a0a0a0;
    font-weight: 900;
    font-size: .875rem;
}

.arrow{
    filter: invert(67%) sepia(1%) saturate(20%) hue-rotate(318deg) brightness(96%) contrast(89%);
    transform: rotate(180deg);
    width: 12px;
    height: 12px;
}

.moreEpisodesSubtitle{
    font-size: 1.375rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.seeMoreEpisodesButton{
    width: 100%;
    border-radius: 0;
    background-color: #213944;
    font-size: .875rem;
    font-weight: 900;
    margin-top: 30px;
}

.seeMoreEpisodesButton:hover{
    width: 100%;
    border-radius: 0;
    background-color: #2f5161;
}

.newEpisodesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.newsSection{
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('../../assets/newsBg.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.newsContainer{
    --content-wrapper-padding-inline: 2.5rem;
    --content-wrapper-padding-inline: 1.25rem;
    --content-width: 65.625rem;
    max-width: calc(var(--content-width) + var(--content-wrapper-padding-inline)*2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.newsDivider{
    display: flex;
    justify-content: flex-start;
}

.newsSectionTitle{
    color: #fff;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
}

.newsLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    margin-right: 20px;
}

.newsCardLeft{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 5px;
}

.newsLeftImg{
    height: 200px;
}

.newsCardLeftText{
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    text-align: start;
}

.newsCardLeftTitle{
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
}

.newsCardLeftTime{
    font-size: .75rem;
    font-weight: 600;
    color: #a0a0a0;
    margin-bottom: 0.25rem;
}

.imgWrapper{
    max-width: 240px;
    max-height: 135px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.newsRightHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.newsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.button2{
    background-color: #000;
    color: #f47521;
    min-width: 7.5rem;
    height: 2.5rem;
    border-radius: 0;
    font-weight: 600;
    margin: 6px 5px 6px 5px;
    display: inline-flex;
    border-style: solid;
    border-color: #f47521;
    border-width: 3px;
    margin-top: 20px;
}

.finalContainer{
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalText{
    font-size: 1.25rem;
    color: #fff;
}

.finalImg{
    margin-bottom: 20px;
}

.footer{
    background: #000 linear-gradient(180deg,#0000,#213944);
    display: flex;
    flex-direction: column;
}

.footerContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    justify-content: center;
    --content-wrapper-padding-inline: 2.5rem;
    --content-wrapper-padding-inline: 1.25rem;
    --content-width: 65.625rem;
    max-width: calc(var(--content-width) + var(--content-wrapper-padding-inline)*2);
    margin: 0 auto;
    flex: 0 0 25%;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px 0 15px;
}

.columnTitle{
    color: #fff;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 12px;
}

.columnList{
    list-style-type: none;
    text-align: start;
    padding: 0;
    margin: 0;
    line-height: 1.125rem;
    font-size: .875rem;
    color: #a0a0a0;
}

li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

li:hover{
    color: #fff;
    text-decoration: underline;
}

.footerImg{
    max-width: 18px;
    max-height: 18px;
    margin-right: 5px;
}

.premiumLi{
    color: #fab818;
}

.copyrightSection{
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    border-top: solid;
    border-width: 1px;
    margin: 20px auto;
    min-width: 35.5em;
}

.copyright{
    color: #a0a0a0;
    line-height: 1.125rem;
    font-size: .875rem;

}